opencv-python==4.5.3.56
pdfminer.six==20221105
pdfplumber==0.9.0
camelot-py==0.10.1
imutils==0.5.4
PyMuPDF==1.18.16
pdf2image==1.14.0
pypdf2==1.26.0
langid==1.1.6
whatlangid==1.0.11
langdetect==1.0.9
joblib==1.0.1
scikit-learn==0.24.2
pandas==1.3.1
numpy==1.21.1
mammoth==1.4.19
pdf2docx==0.5.1
smbprotocol==1.2.0
bs4
boto3
laserembeddings==1.1.1


